[Desktop Entry]
Name=ProtonForge
Comment=DLSS & Proton Manager for Steam and GOG games
Exec=protonforge
Icon=org.protonforge.ProtonForge
Terminal=false
Type=Application
Categories=Game;Utility;Qt;
Keywords=dlss;steam;gog;proton;gaming;forge;nvidia;
StartupNotify=false
StartupWMClass=ProtonForge
